<!-- Conversation Line-item -->
<div class="line-item {{class}}">
    <header>
        <div class="first-name">
            {{first_name}}
        </div>
        <div class="timestamp">
             {{timestamp}}
        </div>
    </header>
    <div class="message">
        {{message|raw}}
    </div>
{#     <footer>
        <div class="timestamp">
             {{timestamp}}
        </div>
    </footer> #}
</div>
